<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>PV080 Drill</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay">

    </div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main" id="questions">

      </div>
    </div>

    <script type="text/html" class="question">
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes -->
        <div class="pages navbar-through toolbar-through">
            <!-- Index Page-->
            <div data-page="index" class="page">
                <!-- Scrollable page content-->
                <div class="page-content questions-page-content">
                    <div class="content-block-title question-name"><%= question.name %></div>
                    <div class="list-block">
                        <ul>
                            <% _.each(_.shuffle(question.answers), function(answer) { %>
                            <li class="answer">
                                <label class="label-checkbox item-content">
                                    <input type="checkbox" name="answer" value="<%= answer.right %>">
                                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                    <div class="item-inner">
                                        <div class="item-text"><%= answer.body %></div>
                                    </div>
                                </label>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="content-block">
                        <div class="row">
                            <div class="col-50">
                                <a href="#" id="submit-button" class="button button-big button-fill color-green">Check</a>
                            </div>
                            <div class="col-50">
                                <a href="#" id="next-button" class="button button-big button-fill color-blue">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toolbar">
                    <div class="toolbar-inner">
                        <span></span>
                        <span>Question: <b><%= question_index %></b> of <%= total_questions %>s <b></b></span>
                        <a href="#" id="source-link">Source</a>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/coffee-script.js"></script>
    <script type="text/javascript">
        window.Classes = {};
//        $.get("js/questions.coffee", function(data){
//            eval(data);
//        });
    </script>
    <script type="text/coffeescript" src="js/questions.coffee"></script>
    <!-- Path to your app js-->
    <script type="text/coffeescript" src="js/my-app.coffee"></script>
  </body>
</html>
